[2016-05-18 10:59] dholbach opened #8 "Test should fail"
This test did not fail properly: https://travis-ci.org/ubuntu/snappy-playpen/builds/130977795

[2016-05-18 13:55] didrocks commented on #8
The issue is that this branch wasn't rebased on master, which has the fix for ensuring the test fail (but it's the local ci-run script which is executed).

Btw, I'm going to add another check to the script, ensuring we have a README.md in the project!

[2016-05-19 20:14] dholbach commented on #8
I just rebased on master, here's the test result: https://travis-ci.org/ubuntu/snappy-playpen/builds/131520108

[2016-05-19 20:17] dholbach commented on #8
http://devopsreactions.tumblr.com/post/111166346362/bug-passes-qa

[2016-05-20 07:19] didrocks commented on #8
ok ok, I'll have a look :) It's what I am, too kind with you guys, green flags everywhere \o/

[2016-05-24 15:09] #8 closed

[2016-05-24 15:29] dholbach commented on #8
Good work! :+1:

[2016-06-08 10:59] dholbach opened #42 "Collect useful parts and plugins centrally"
@caldav, @dplanella and I talked about this earlier and we thought it'd be a good idea to collect contributed useful parts and plugins more visibly as part of this project.

For plugins, we

 - could add a top-level directory, with symlinks to the respective plugin added in the tree
 - would just need to make sure that `ci-run` ignores this
 - would also need to update our contributor docs (we nee

[2016-06-08 11:03] didrocks commented on #42
Hum, for plugins:
* I would rather prefer having a project called by the plugin and function name, and create a snapcraft.yaml there
* Then have the code inside parts/plugins/x-* as for every plugin
* The README for the project hilight the plugin, and how it's used that way.

We can have CI that way on the plugin, ensuring that snapcraft doesn't break it and so on…

[2016-06-08 11:05] dholbach commented on #42
Can you elaborate on "project called by the plugin and function name"? I'm not sure I understand.

[2016-06-08 11:05] dholbach commented on #42
For example I added a plugin here: https://github.com/ubuntu/snappy-playpen/tree/musique/musique (WIP branch). What do you suggest I do now?

[2016-06-08 11:08] didrocks commented on #42
Just hilight in the README.md for the project that you are using a custom plugin named x-qmake.py and point to it with its goal.

That way, you have the code AND the usage of it at the same place, makes sense?

[2016-06-08 11:30] dplanella commented on #42
For parts, I don't think we'd duplicate content if we use wiki parts: the code of the part could live under `snappy-playpen/parts`, the wiki could point to that (assuming it supports repository directories) and the snap would just refer to the name of the part.

[2016-06-08 11:32] dplanella commented on #42
For plugins, I'm not sure what the best solution would be, tbh. What @didrocks is saying makes sense and it's mostly what we do today already, but it would be good to have a common place where people can easily find the plugins they need.

Another option for both parts and plugins could be to use a set of gists, but I'm not sure how gist snippets can be grouped.

[2016-06-08 11:34] didrocks commented on #42
Or, we can have a custom-plugins/ directory, where each subdirectory is a symlink (or the other way around) to project using them? That way, we can advertize them all in one place, and having them build and used daily to ensure they don't break?

[2016-06-08 14:35] dplanella commented on #42
Sounds good to me, althought symlinking the other way around seems a bit unintuitive at first thought, but that might be only me. What do you think @dholbach, @caldav?

[2016-06-08 15:20] dholbach commented on #42
I'm happy either way.

[2016-06-09 11:27] dholbach opened #45 "vault snap can be updated now that LP: #1583426 is fixed."
https://bugs.launchpad.net/snapcraft/+bug/1583426 is fixed, so the `vault` snap can be updated too (https://github.com/ubuntu/snappy-playpen/blob/master/vault/README.md).

[2016-06-09 11:27] dholbach commented on #45
@elopio - do you know what needs to be done?

[2016-06-09 12:23] dholbach opened #46 "Fonts cache not generated in galculator"
In `galculator` the fonts cache needs to be generated an shipped.

[2016-06-09 12:23] dholbach commented on #46
@flexiondotorg - I think this was done in the snap from the desktop team.

[2016-06-10 08:50] seb128 commented on #46
the wrapper has
"#ln -sf $SNAP/usr/share/{fontconfig,fonts,fonts-*,themes} $XDG_DATA_HOME"

uncommenting that line should fix the issue (unsure why you commented it though, I guess it was copied from the gnome-calculator script ... was it any issue with it?)

[2016-06-10 09:09] #46 closed

[2016-06-15 06:46] #45 closed

[2016-06-16 06:40] m-jch opened #66 "GTK3 hello world app in snap"
Does anyone add GTK3 hello world app into snap?

https://git.gnome.org/browse/gtk+/plain/examples/hello-world.c

[2016-06-17 22:13] pixelr0 opened #78 "VLC Segmentation fault (core dumped)"
$ snap --version
snap  2.0.9
snapd 2.0.9 (series 16)

$ snap list
Name         Version               Rev  Developer  Notes
krita        3.0-snap12            3    krita      -
ubuntu-core  16.04+20160531.11-56  122  canonical  -
vlc          daily                 5    caldav     -

 vlc
VLC media player 3.0.0-git Vetinari (revision ca134b9)
shm_open() failed: Permission denied
[00000000007a1268] d

[2016-06-18 07:48] Ads20000 opened #80 "VLC 'Permission denied'"
I am using Ubuntu Yakkety.

[code]

[code]

[code]

I'm using the Edge channel for VLC. Do I have to explicitly use --devmode when installing an Edge or Beta channel Snap? Or should it work anyway? Given that the standard version of this VLC Snap is 'daily', maybe it doesn't matter in this case anyway.

My guess is that the VLC Snap isn't being given enough permissions.

[code]

What other permiss

[2016-06-18 13:33] caldav commented on #80
Do other snaps work? Eg. krita?

[2016-06-18 18:40] Ads20000 commented on #80
Ah, it doesn't sorry, same error, what do I do to fix this? Shouldn't installing applications in Snappy just work 'out of the box' anyway? :/

[2016-06-24 06:21] dholbach opened #108 "See if minetest can use pulseaudio interface."
The sound for `minetest` currently is said to not work. Can using the `pulseaudio` interface fix this? If not, can we file a bug on `snapd` to track the issue?

[2016-06-24 06:23] dholbach opened #109 "Investigate if mpv can use qt-launcher"
`mpv` could maybe be switched to the qt-launcher (https://github.com/dplanella/qt5conf)?

[2016-06-24 06:30] dholbach opened #110 "Check if plan can use gtk launcher"
Other snaps already use the gtk launcher (https://github.com/dplanella/gtkconf), like ristretto, leafpad and others. Can you please check if you can make use of it too?

[2016-06-24 07:51] #108 closed

[2016-06-24 08:20] popey commented on #109
I can't currently switch to qtconf because it does "cd $SNAP" which breaks the ability to run commands with relative parameters like:-

mpv foo.mp4

You have to specify

mpv /home/alan/Videos/foo.mp4

[2016-06-24 09:24] dholbach opened #116 "ubuntu-clock-app: Check if the qt5 launcher can be used"
ubuntu-clock-app: Check if the [qt5 launcher](https://github.com/dplanella/qt5conf) can be used.

[2016-06-24 09:35] dholbach opened #117 "ubuntukylin-icon-theme: Check if the custom plugin can inherit from snapcraft.plugins.copy.CopyPlugin"
It looks like the vast majority of `ubuntukylin-icon-theme/parts/plugins/copy_and_edit.py` is copied from snapcraft's `snapcraft/plugins/copy.py`. Could we make it inherit from `snapcraft.plugins.copy.CopyPlugin` instead?

[2016-06-24 09:59] dholbach opened #118 "vlc: Check if the custom plugin can inherit snapcraft's snapcraft.plugins.autotools.AutotoolsPlugin"
Check if the custom plugin can inherit snapcraft's `snapcraft.plugins.autotools.AutotoolsPlugin` this would avoid code getting out of date.

[2016-06-24 10:47] didrocks commented on #118
Nice that our plans are matching up! I'm already workink on it as I did it for Atom ;)

[2016-06-24 11:00] mc4man opened #120 "deficiencies in mpv snap"
Several -
No https support, easy fix in ffmpeg config
No support for hwdec option ( typically hwdec=auto
No file manager support, eg. the context menu or DnD on a launcher
The .desktop is not usable as options on Exec= line cannot be parsed
 (- via the .desktop everything is 'seen' as an option inc. the target file. Currently would only work if the.desktop executed a script running, ie. -   mpv op

[2016-06-24 15:08] didrocks commented on #117
I think it should rather use another plugin, which edits files directly in stage/ directory. I'll have a good at that next week.

[2016-06-24 15:53] #118 closed

[2016-06-27 07:25] dholbach commented on #109
@dplanella Can you maybe take a look?

[2016-06-27 14:37] dholbach opened #123 "Check if dosbox using the pulseaudio interface will make things work."
Check if `dosbox` using the `pulseaudio` interface will make things work.

[2016-06-28 06:56] dplanella opened #124 "Galculator fails to start"
I built Galculator on an x86 system, where it fails to start with the error below.

It seems it's trying to reference a path that was used during build, so I suspect something went wrong and that path was hardcoded during the build itself.

[code]

[2016-06-28 07:20] dplanella commented on #124
Note that if the `install-via` keyword is removed from `snapcraft.yaml`, a similar error appears, only this time the .ui  file path is hardcoded to `/share/galculator/ui/main_frame.ui`

[code]

[2016-06-28 11:08] tsimonq2 commented on #124
@dplanella By x386 do you mean Intel processors or the i386 architecture?

[2016-06-28 13:14] #123 closed

[2016-06-30 05:13] rednoah opened #128 "Issues with GLIB and GVFS"
Has anyone managed to get the GVFS url-2-filepath function working within the sandbox?

It's probably a general issue with loading glib in the snappy environment, because i get the same issue in devmode:
[code]

[2016-06-30 13:09] dholbach commented on #128
Is this in `openjdk-demo`?

[2016-06-30 15:36] rednoah commented on #128
No, it's a separate project. Just kinda thought all the people on the snappy mailing list are also active on playpen.

Any tips on how to debug glib issues would be much appreciated.

[2016-06-30 16:56] rednoah opened #129 "atom crashes on startup"
The `atom` snap doesn't seem to work. Crashes on startup as follows:
[code]

Same issue when using the `atom-cwayne` snap available in the app store. IMHO it's more 🔴  than ✅  at this point. :D

[2016-06-30 17:50] dplanella commented on #129
It works for me here, just remember that for now you need to install it using `--devmode`

[2016-06-30 17:51] dplanella commented on #124
I meant the architecture, although the failure is also on amd64.

[2016-07-01 05:51] rednoah commented on #129
I see. I guess this one predates `confinement: devmode`.

[2016-07-01 05:51] #129 closed

[2016-07-05 16:28] pbek opened #145 "No application binary in snap"
I wanted to create a snap for <http://github.com/pbek/QOwnNotes> and the build went quite well and the snap was created, but it seems the the built binary wasn't found and that's why it wasn't included in the snap (that can be installed sucessfully).

`snapcraft.yml` I created: <https://github.com/pbek/QOwnNotes/blob/develop/build-systems/snap/snapcraft.yaml>

Commands I executed:
[code]

These ar

[2016-07-05 16:47] pbek commented on #145
I found a `QOwnNotes` binary in `parts/qownnotes/build`, but snapcraft tries to install it from `parts/qownnotes/src/QOwnNotes` (according to the generated QOwnNotes make file).

Can I tell snapcraft to use the binary `parts/qownnotes/build/QOwnNotes`?

[2016-07-06 07:22] dholbach commented on #145
In the generated `Makefile` during the build it looks like for `QOwnNotes` (and other files like the `.desktop` file in `.` and not in `./parts/qownnotes/build`. I'm not quite sure where the problem comes from and pinged @kyrofa and @sergiusens about it.

[2016-07-06 07:27] pbek commented on #145
Thank you @dholbach!
Maybe @popey can help, I started to create a snap after watching his video <https://www.youtube.com/watch?v=K0IzxsIFjJY> ;)

[2016-07-06 10:13] orschiro opened #148 "copy_and_edit.py to replace a command in a file?"
Dear all,

Coming from this [1] discussion, how can I apply the plugin copy_and_edit.py [2] to replace all instances of `lqrelease-qt5` with `lqrelease` in a specfic build file of a package [3] that I want to create using Snap?

Any help would be very appreciated!

Thankfully,

~Robert

[1] https://askubuntu.com/questions/794875/snapcraft-autoreconf-configure-ac-or-configure-in-is-required/794979?

[2016-07-06 11:40] kyrofa commented on #145
@pbek @dholbach I'm not sure why this is happening, but I suspect an issue with qmake's out-of-source build support. It doesn't seem to be working in this case, and I'm not sure why. @pbek use this as a local plugin for now:

[code]

I'll upstream that.

[2016-07-06 13:23] dholbach commented on #148
@fcole90 can you maybe help out here?

[2016-07-06 13:55] didrocks commented on #117
This is now done

[2016-07-06 13:55] #117 closed

[2016-07-06 14:09] didrocks commented on #124
do you still have that issue with the new launcher? I got it running pretty well on amd64.

[2016-07-06 14:47] fcole90 commented on #148
Hi, the plugin was actually created by @caldav. You can see an example here: https://gist.github.com/caldav/9f0978ef0aa4cda6d4cdf92fced1e99b

I think something like this should work:
[code]

[2016-07-06 16:08] pbek commented on #145
Thank you for helping, @kyrofa!

I created your qmake plugin (thanks a lot!) and did a `snapcraft clean && sanapcraf build`.
The `make install` works now!

[code]

The binary was present at `parts/qownnotes/install/usr/bin/QOwnNotes`.
But I still could not find an application binary in the snap.

[2016-07-06 16:24] kyrofa commented on #145
@pbek note the case: QOwnNotes. Your command is lower-case: `command: desktop-launch qownnotes`. Perhaps try `command: desktop-launch QOwnNotes`.

[2016-07-06 16:25] kyrofa commented on #145
@pbek also, you probably know this but I want to throw it out there just in case: `snapcraft build` does not create a snap. You need to use `snapcraft snap` or just `snapcraft` to do that.

[2016-07-06 16:25] orschiro commented on #148
Thank you, @fcole90!

I am not sure if I understood your comment correctly but this is what I tried:

[code]

Resulting in the following error:

[code]

[2016-07-06 16:33] pbek commented on #145
@kyrofa, thank you for the hints! I'm testing them currently.

[2016-07-06 16:36] pbek commented on #145
meanwhile: I would like to modify a header file from the downloaded source archive before building it. Is that possible in the snapcraft.xml?

[2016-07-06 17:00] pbek commented on #145
@kyrofa, the binary is now present inside the mounted snap at `./usr/bin/QOwnNotes` and can be executed directly, but calling `qownnotes` still just outputs `aa_change_onexec failed with -1. errmsg: No such file or directory`.

I have tried both `desktop-launch QOwnNotes` and `desktop-launch usr/bin/QOwnNotes` as `command` in the snapcraft.xml.

[2016-07-06 17:02] kyrofa commented on #145
@pbek what distro are you running? Can I see the output of `cat /etc/os-release`, please?

[2016-07-06 17:18] pbek commented on #145
@kyrofa, thank you for helping!

[code]

[2016-07-06 17:22] kyrofa commented on #145
@pbek ah, I'm afraid that's bug [#1593255](https://bugs.launchpad.net/ubuntu/+source/snapd/+bug/1593255). It's fixed in 2.0.10, which is making its way through the SRU process now. Hang tight, I'm sorry!

[2016-07-06 17:22] pbek commented on #145
These are my configuration files right now: <https://github.com/pbek/QOwnNotes/tree/develop/build-systems/snap>

[2016-07-06 17:26] pbek commented on #145
Oh, thank you for letting me know, @kyrofa. Will there be an update for snap 2.0.10 in Ubuntu?

And I would like to modify a header file from the downloaded source archive (or copy one file from the archive over the current header file) before building it. Is that possible in the snapcraft.xml?

[2016-07-06 17:32] kyrofa commented on #145
Oh yes, subscribe to [the SRU bug](https://bugs.launchpad.net/ubuntu/+source/snapd/+bug/1597329) so you can know when to update.

Regarding patching, no, that's not currently supported within snapcraft. Currently the recommended way to do that is to have a fork with the patch applied.

[2016-07-06 17:46] pbek commented on #145
Thank you, I now did.

That's not very convenient. :) Do you know if there are any plans to implement support for running shell commands or copying files before the build process (like for Arch PKGBUILD, AUR, SlackBuild or Gentoo)?

[2016-07-06 20:50] pbek commented on #145
And (since you are a never ending source of knowledge) an other question, @kyrofa. Can I build snaps on Launchpad? I haven't found anything about that, but I think I heard it works... So I'm asking myself how.

[2016-07-06 21:24] kyrofa commented on #145
Indeed you can, [check this out](https://kyrofa.com/posts/building-your-snap-on-device-there-s-a-better-way).

[2016-07-07 04:09] pbek commented on #145
Wonderful, thank you very much, @kyrofa!

[2016-07-07 06:25] pbek commented on #145
@kyrofa: the build on Lauchpad didn't went so well for me. :)
First I had to remove the `confinement` property, because Launchpad complained that it existed.
(It was then set to strict by default: `"confinement" property not specified: defaulting to "strict"`)

But then I also got:
`Issue detected while analyzing snapcraft.yaml: Cannot find definition for part 'desktop/qt5'. It may be a remote par

[2016-07-07 06:50] dholbach commented on #145
I just asked the Launchpad team about this.

@kyrofa - Regarding the out-of-source build support, is there anything which might need a change in the qmake plugin?

[2016-07-07 06:54] pbek commented on #145
thank you, @dholbach

[2016-07-07 09:53] dholbach commented on #145
I filed https://bugs.launchpad.net/launchpad-buildd/+bug/1599786

[2016-07-07 09:59] pbek commented on #145
Thank you @dholbach, I subscribed to it.

[2016-07-07 10:08] caldav commented on #148
I haven't tried the above, but I think "#src/my-build-file:" is interpreted as a comment and ignored.

[2016-07-07 13:04] kyrofa commented on #145
Yeah, PR is [here](https://github.com/snapcore/snapcraft/pull/633).

Worth pointing you to [this](https://github.com/snapcore/snapcraft/pull/617) as well-- snapcraft will do this automatically in the next release.

[2016-07-07 13:12] pbek commented on #145
ah, nice!

[2016-07-07 13:14] dholbach commented on #145
Thanks a lot @kyrofa

[2016-07-07 16:48] orschiro commented on #148
Dear @caldav,

Good idea! I removed the `#` from both lines but the same error still occurs.

Any other ideas?

~Robert

[2016-07-09 05:42] pixelr0 commented on #78
yay! snapd (2.0.10)

vlc now works A OK! :D thanks

[2016-07-09 05:42] #78 closed

[2016-07-09 05:48] pixelr0 opened #154 "VLC notification? menu empty"
VLC notification? menu empty
snapd (2.0.10)
VLC revision 9

screenshot with the empty menu http://i.imgur.com/lZdo2tP.png

[2016-07-09 08:20] pbek commented on #145
@kyrofa, I can confirm that I can now start applications from snaps under KDE Neon with snap 2.0.10, but I still have to use your local `qmake.py`. Building on Launchpad still doesn't work, same error: `Cannot find definition for part 'desktop/qt5'.`
But meanwhile I have uploaded a locally built qownnotes snap to the store. Now I'm waiting for the confirmation. :tada:

[2016-07-09 09:17] kyrofa commented on #145
@pbek indeed, snapd and snapcraft are two separate products-- the new release of snapcraft (containing the updated qmake plugin and the fix for the LP builders) will be released in the next few days.

[2016-07-09 09:23] pbek commented on #145
@kyrofa, thank you for informing me, I was hoping a `snapcraft update` would fetch directly from GitHub. ^_^

[2016-07-11 15:59] pbek commented on #145
@dholbach, @kyrofa currently I get this error on Launchpad:

[code]

<https://launchpadlibrarian.net/272365528/buildlog_snap_ubuntu_xenial_amd64_qownnotes_BUILDING.txt.gz>

[2016-07-12 04:18] pbek commented on #145
And does anyone know what is supposed to happen if a snap has the status `published` on <https://myapps.developer.ubuntu.com>? I can't find the snap anywhere to download publicly...

[2016-07-12 07:11] dholbach commented on #145
Can you maybe give me the URL of your app in myapps and I'll see what I can do?

[2016-07-12 07:14] dholbach commented on #145
Can you check if a channel is selected for the upload?

[2016-07-12 07:14] pbek commented on #145
@dholbach, you are my hero. ^_^
<https://myapps.developer.ubuntu.com/dev/click-apps/5374/>

[2016-07-12 07:15] pbek commented on #145
There is no channel selected for the upload at <https://myapps.developer.ubuntu.com/dev/click-apps/5374/configurations/>.

[2016-07-12 07:17] dholbach commented on #145
... Downloading... :-)

[2016-07-12 07:17] pbek commented on #145
I now manually selected the channel `Stable` (can that be done by `snapcraft upload`)

[2016-07-12 07:19] dholbach commented on #145
That's going to be part of one of the next snapcraft releases: https://bugs.launchpad.net/snapcraft/+bug/1549211

[2016-07-12 07:23] pbek commented on #145
Thank you, good to hear. Is it mandatory that the channel is set?

[2016-07-12 07:28] dholbach commented on #145
Yes, I'll add a task for this bug for the store to set a sensible default in cases where it's not set (for whatever reason).

[2016-07-12 07:36] pbek commented on #145
Thank you!

So do you know when/how/where the snap will be publicly available (now that I have set the channel manually)?

And you you know anything about the weird error at <https://launchpadlibrarian.net/272507287/buildlog_snap_ubuntu_xenial_i386_qownnotes_BUILDING.txt.gz>

[2016-07-12 07:37] dholbach commented on #145
I just installed it using "snap find" and "snap install qownnotes" on Ubuntu 16.04 LTS. :-)

[2016-07-12 07:37] dholbach commented on #145
The Launchpad fix is in progress right now.

[2016-07-12 07:41] pbek commented on #145
Wow, you definitely are my hero now! :tada:
So the next time I manually build a snap I just also need to set a channel at myapps, right?
But ultimately I want to build and release it with launchpad, I'm looking forward to that fix.

[2016-07-12 07:43] dholbach commented on #145
I think it should land together with snapcraft 2.12.1.

[2016-07-12 07:56] pbek commented on #145
Awesome!

by the way, can `qownnotes` now also be found at <https://apps.ubuntu.com/cat/search/?q=qownnotes&op=> and <https://uappexplorer.com/app/qownnotes>?

[2016-07-12 08:18] dholbach commented on #145
apps.u.c is just for `.deb` packages - here's your snap: https://uappexplorer.com/app/qownnotes.pbek

[2016-07-12 08:18] dholbach commented on #145
I'm not quite sure why the search on uappexplorer didn't find it. Maybe file a bug on https://github.com/bhdouglass/uappexplorer?

[2016-07-12 08:36] pbek commented on #145
really awesome! :smile_cat:

I now did at <https://github.com/bhdouglass/uappexplorer/issues/78>, thank you!

[2016-07-12 09:00] rednoah opened #161 "Indicate confinement/devmode state in `Current project status`"
It'd be nice if the `Current project status` overview also included a column on whether or not a given snap is compatible with the confinement sandbox.

[2016-07-12 12:15] dplanella opened #162 "Tyrant unleashed optimizer: drop 'x_' from plugin name"
Looking at Tyrant unleashed optimizer's snapcraft file, I see:

`plugin: x_toumakefixup`

While this works, we shouldn't be encouraging adding the `x_` prefix when declaring local plugins in `snapcraft.yaml`. The correct syntax should be:

`plugin: toumakefixup`

[2016-07-14 05:22] pixelr0 opened #174 "[request] gimp snap"
GIMP 2.9.4 Released :( and there is no downloadable version for linux
http://www.gimp.org/news/2016/07/13/gimp-2-9-4-released/

[2016-07-14 05:26] pixelr0 opened #175 "[request] Pitivi snap"
Pitivi version is 0.96 released and the only way to install is a flatpak
http://www.pitivi.org/?go=download

[2016-07-14 07:45] dz0ny opened #176 "reviewable.io is horrible experience"
- The > github sync creates too much clutter
- New push does not clear comments for that part of code
- You have 6(discussing,satisfied,blocking,unresolvable,solvable)!! options on how to respond to code comment, rly?
- Confusing UI, aka they use "reactive" interface but you have hidden publish somewhere on page :)
- As PR submitter you have to mark each file as viewed(http://i.imgur.com/qiIMeC0.p

[2016-07-14 07:54] dholbach commented on #176
[code]

Can everybody else please comment on this as well, so we can do a check-up after a few weeks of use and see how we all feel?

[2016-07-14 08:33] dz0ny commented on #175
Build instructions are here https://github.com/GNOME/pitivi/tree/master/build/flatpak

[2016-07-14 09:07] dplanella commented on #176
After having tried to use it, I must say I feel the same. For our purposes, I find doing reviews on the github interface much simpler. It might be just me, but I just don't quite grasp the Reviewable interface. Also, to my irritation, after having sent a pull request and having spent a few minutes writing the PR's description, reviewable overwrote my message (to add the Reviewable button snippet)

[2016-07-14 09:16] dholbach commented on #176
The reason @didrocks and I started looking for alternative ways to review PRs was that many of them got stale and were waiting for updates from the submitters. Thus, the list of PRs (https://github.com/ubuntu/snappy-playpen/pulls) grew and unless you took the time to go through them all (regularly), we couldn't make any progress.

I agree that using normal PRs on Github now with Reviewable sending

[2016-07-14 09:49] dplanella commented on #145
@pbek looking at the conversation, I think this issue can be closed now, would you agree?

[2016-07-14 09:53] dplanella commented on #174
@pixelr0 you might want to check the work @wandrewkeech did with his GIMP build from git. @wandrewkeech would you mind explaining the current blockers?

[2016-07-14 09:55] pbek commented on #145
we do, thank you!

[2016-07-14 09:55] #145 closed

[2016-07-14 10:00] dplanella commented on #162
@cpaelzer what do you think? ^

[2016-07-14 10:01] dplanella commented on #161
@rednoah feel free to send a PR against README.md and we can discuss it there! For the record, I think it's a good idea, but I also think we should be careful to keep the table not too cluttered.

[2016-07-14 10:04] dplanella commented on #154
Thanks @pixelr0 for the report. This is due to these known isses in snappy, which will hopefully be addressed in the upcoming weeks:

- https://bugs.launchpad.net/snappy/+bug/1600136
- https://bugs.launchpad.net/snappy/+bug/1600138
- https://bugs.launchpad.net/snappy/+bug/1600140

As it's not directly related to the playpen, I'll close the issue for now and I'll suggest you to subscribe to the sna

[2016-07-14 10:04] #154 closed

[2016-07-14 10:07] #124 closed

[2016-07-14 10:09] dplanella commented on #80
Closing the issue as it's not directly related to VLC in the playpen and it's been reported in snappy upstream instead. If you feel you need to follow it up here instead, please feel free to reopen. Thanks!

[2016-07-14 10:09] #80 closed

[2016-07-14 10:11] dplanella commented on #110
@mhall119 when you've got a minute, could you have a look at replacing Plank's custom launcher by `desktop/gtk3` (or gtk2)? Thanks!

[2016-07-14 10:15] dplanella commented on #42
@dholbach @didrocks So far we've got no **plugins** that we've collected, which is something we should probably look at at the next playpen, as there are a few I've seen (David Calle's `copy_and_edit`, for example). For common **wiki parts** it seems with the desktop launchers we've established the trend of keeping them under the `ubuntu` organization in Github.

I guess we just need some sort of

[2016-07-14 10:16] dplanella commented on #148
@orschiro have you had the chance to look further into the last issue you had? Another option that might get you more help is to post the question on the snapcraft mailing list.

[2016-07-14 10:17] dplanella commented on #109
The `cd $SNANP` bit was removed and the `desktop/qt5` launcher can be used for that. @popey one for you to look at once you're back from vacation :)

[2016-07-14 10:20] dplanella commented on #66
This might be worth discussing on the snapcraft mailing list or on https://gitter.im/ubuntu/snappy-playpen, where someone can give you a hand getting started with snapcrafting it, which should be relatively simple. Thus closing the issue here.

[2016-07-14 10:20] #66 closed

[2016-07-14 15:41] wandrewkeech commented on #174
This morning (half an hour ago) I ran the build again on `snapcraft` v2.12.1, and indeed the `pkg-config` bug has been resolved and `gimp` started seeing the other libraries which were being `staged` earlier in the process.
There's a new blocking bug which relates to the `gegl` library not being able to find its components after it's been built. Could easily be fixable with some clever environment

[2016-07-14 17:29] pixelr0 commented on #154
thanks david :D already subscribed

[2016-07-14 17:30] pixelr0 commented on #174
@dplanella @wandrewkeech thanks :D

[2016-07-14 18:16] orschiro commented on #148
Dear David,

I haven't yet had the chance to dig into this issue further. Currently, I
don't have time either to investigate this. Maybe someone will continue the
work based on the latest gist file [1].

Warmly,

~Robert

[1] https://gist.github.com/orschiro/489710764173788d07c00b5a84ddaafe

On Jul 14 2016, at 12:16 pm, David Planella &lt;notifications@github.com&gt;
wrote:

further into the last

[2016-07-14 18:25] wandrewkeech commented on #175
have a go at this too pixelr0:
https://github.com/wandrewkeech/snappy-playpen/tree/pitivi/pitivi-git

[2016-07-14 18:52] pixelr0 commented on #175
oh wow! :D thanks @wandrewkeech

[2016-07-14 23:25] didrocks commented on #176
Yeah, I can totally see why people would find it confusing (and it is at first time). I really like the features that Daniel mentionned. Especially after some changes on a PR (with additional commits) are done. You are not reviewing again what didn't change and what you already acked.

As we have a lot of reviews with force and back, this is the number 1 feature to me. If something more simple for

[2016-07-14 23:31] tsimonq2 commented on #176
I agree with @dz0ny. I **strongly** dislike the comments it spams. Yes, the interface might be nice for the reviewers, but for me as a contributor, it is **very** annoying.

It also doesn't update the diffs, which @dz0ny mentioned, and that is annoying. Why not use the GitHub inline comments?

In my honest opinion, we need a different solution.

[2016-07-15 04:34] pbek commented on #145
@dholbach, concerning building snaps on launchpad:
since the last update the `snapcraft update` seems to be done, but the build still fails:

[code]

<https://launchpadlibrarian.net/273098585/buildlog_snap_ubuntu_xenial_amd64_qownnotes_BUILDING.txt.gz>

[2016-07-15 09:37] popey commented on #176
Signed in on my phone on holiday to express how painful I find the whole reviewable process. Echoing what others have said. It has a maddeningly busy ux and Sammy comment behaviour that actively discourages me from getting involved.

[2016-07-15 09:38] popey commented on #176
*spammy

[2016-07-15 12:58] dholbach commented on #145
The issue you're mentioning depends on https://bugs.launchpad.net/launchpad-buildd/+bug/1599786

[2016-07-15 13:03] pbek commented on #145
You mean as in "something broke while that issue was addressed"?
And now you filed https://bugs.launchpad.net/snapcraft/+bug/1603403...

[2016-07-15 13:11] pbek commented on #145
After applying https://github.com/ubuntu/snappy-playpen/pull/178 to every part the snapcraft built, but after an install `qownnotes` just started as zombie process...

[2016-07-15 13:17] dholbach commented on #145
Bugs 1603403 and 1599786 are quite separate things. I pinged the right people to take a look at them.

Can you give me a link to the changes you made, so I can take a look at it locally?

[2016-07-15 13:39] pbek commented on #145
@dholbach, I created a feature branch for you with what I made:
https://code.launchpad.net/~pbek/qownnotes-snap/+git/qownnotes-snap/+ref/feature/snapcraft-2-12-1

[2016-07-15 14:14] dholbach commented on #145
Try adding the `network-bind` plug - that should make it work.

[2016-07-15 18:16] pbek commented on #145
Really, I just removed that because I have no network daemon. I will add it again and try. (why is it needed now?)

[2016-07-16 07:03] pbek commented on #145
@dholbach, you are right, `network-bind` did the trick. Thanks a lot! Do you have any idea why `network-bind` is needed? And should not `desktop/qt5` together with `desktop-launch` somehow match the Qt theme with the Qt theme of the underlying system? They are not matched here on KDE Neon.

[2016-07-17 12:14] dplanella opened #183 "Add ubuntu-calculator-app"
We need to add the current Calculator snap to the playpen and port it to the qt5 launcher to complement the clock example (custom launcher) with one that uses the standard launcher.

http://bazaar.launchpad.net/~dpm/ubuntu-calculator-app/snap-all-things/files

[2016-07-17 12:15] dplanella commented on #116
Closed as per https://github.com/ubuntu/snappy-playpen/pull/179

[2016-07-17 12:15] #116 closed

[2016-07-18 05:40] cpaelzer commented on #162
I think back when adding this I followed some of "vlc/snapcraft.yaml:14:    plugin: x_vlcautotools" as an example. But I don't mind dropping the x_ at all and I see the reasoning you want to avoid the prefix becoming too common.

I checked if it still builds as of today, made this trivial change and checked again and finally submitted into PR 184.

Thank you for bringing it up!

[2016-07-18 13:14] #162 closed

[2016-07-18 13:20] dholbach commented on #145
I don't quite know why `network-bind` is needed - I seem to recall it was a transient thing and had to do with host look-ups(?).

Unfortunately I don't have a KDE Neon system to test this with. Do you know which files it looks for and can't find? I responded on the PR  #181 with a proposal on how to just use one part (and just one remote part).

[2016-07-18 18:00] pbek commented on #145
Ok, thank you!

[2016-07-19 06:07] pbek commented on #145
currently I have still a lot of issues with the snap..

- Qt theme (colors, widgets, icons, ...) does not match with native Qt theme under KDE Neon
- usage of the language files doesn't work
	-  the language is always the default language
- problems with UTF8 characters
	- see interface settings, language list
- cannot store notes to note folder
	- seems like it tried to write to an old revision's

[2016-07-20 10:04] didrocks commented on #176
So, we did disable reviewable and moved to codereviewhub.
We still have (as reviewable):
- it tracks comment on old diff
- you can +1/-1 comments

The advantages are:
- it's entirely in the github PR view (no more separate website)
- inline comments create tasks automatically that you can approve later on (once fix)
- it's using the old diff feature from github

From some tests on other projects,

[2016-07-20 10:04] #176 closed

[2016-07-21 06:47] pbek commented on #145
@dholbach, I got around the home folder problem by trying to determine the real home folder of the user and suggest that folder, but the other troubles still exist

[2016-07-21 15:20] dholbach opened #188 "Cloudfoundry does not build"
Not sure what changed, but `cloudfoundry-cli` does not build with snapcraft 2.13:
[code]

[2016-07-21 15:46] dholbach opened #189 "gitter-im does not build"
gitter-im does not build because of download issues:
[code]

[2016-07-22 06:23] dholbach opened #190 "idea does not build"
idea stopped building. This is in `cleanbuild`:
[code]

[2016-07-22 06:39] dholbach opened #192 "plank does not build"
`plank` stopped building:
[code]

[2016-07-22 07:06] dholbach opened #193 "shotwell does not build"
shotwell does not build any more:
[code]

[2016-07-22 14:17] mhall119 commented on #192
huh, I never got asked for username and password when I built it. Is this a cleanbuild or a local build?

[2016-07-22 20:32] ibrahimd7 opened #194 "Arabic support in the snap telegram package"
I installed telegram-sergiusens snap  app , and it ran very well .
But , All Arabic (recieved-sent) messages were blank and unreadable , and I think that it's a "fonts" issue
Any suggestions ??
P.S : in the official linux telegram app I don't face such a problem

[2016-07-25 04:31] liu-xiao-guo commented on #194
It is the same for Chinese even though I have tried to install the Chinese fonts packages in the snap.

[2016-07-26 08:21] dholbach commented on #192
Local build - can you try it too?

[2016-07-26 08:22] dholbach commented on #194
The Telegram snap is not part of the Snappy Playpen. If you refer to `telegram-sergiusens`, here's the package information: https://uappexplorer.com/app/telegram-sergiusens.sergiusens

[2016-07-26 08:22] #194 closed

[2016-08-01 08:09] dimitern opened #199 "README Developer Portal link not using snapcraft.io"
https://github.com/ubuntu/snappy-playpen/blob/master/README.md refers to the older, outdated https://developer.ubuntu.com/en/desktop/ portal instead of the newer one http://snapcraft.io/.

[2016-08-02 10:06] #199 closed

[2016-08-10 05:07] dholbach opened #206 "dcos-cli stops building with snapcraft 2.14"
Build log:
[code]

[2016-08-10 05:10] dholbach opened #207 "atom stops building with snapcraft 2.14"
Applying the following diff for 2.14
[code]

I get the following during the build:
[code]

[2016-08-10 05:17] dholbach commented on #189
Still an issue with snapcraft 2.14.

[2016-08-10 05:51] dholbach opened #208 "jtiledownloader does not build any more with snapcraft 2.14"
Applying this diff for snapcraft 2.14
[code]
the build stops working:
[code]

[2016-08-10 05:53] dholbach opened #209 "kpcli stops building with snapcraft 2.14"
Using this diff for snapcraft 2.14
[code]
the build stops working like this:
[code]

[2016-08-10 06:12] dholbach opened #210 "minetest stops building with snapcraft 2.14"
Applying this diff for snapcraft 2.14:
[code]
I see the following build failure:
[code]

[2016-08-10 06:21] dholbach opened #211 "openjdk-demo stops building with snapcraft 2.14"
Applying this diff for snapcraft 2.14
[code]
the build fails like this:
[code]

[2016-08-10 07:25] dholbach opened #212 "tinyproxy stops building with snapcraft 2.14"
After applying this diff for snapcraft 2.14
[code]
the build stops working:
[code]

[2016-08-10 07:27] dholbach opened #213 "qtpdf stops building with snapcraft 2.14"
After applying this diff for snapcraft 2.14
[code]
the build stops working like this:
[code]

[2016-08-10 07:29] dholbach opened #214 "ubuntukylin-icon-theme: custom plugin will need to move from copy to dump plugin"
With snapcraft 2.14 the copy plugin gets in deprecation mode, so the plugin will move from copy to dump plugin.

[2016-08-10 07:30] dholbach opened #215 "texworks: custom plugin will need to move from copy to dump plugin"
With snapcraft 2.14 the copy plugin gets in deprecation mode, so the plugin will move from copy to dump plugin.

[2016-08-10 07:41] dholbach opened #216 "cuberite stops working with snapcraft 2.14"
Applying this diff for snapcraft 2.14
[code]
the build fails like this:
[code]

[2016-08-11 07:15] pbek commented on #145
still some issues left with the `qownnotes` snap..

- Qt theme (colors, widgets, icons, ...) does not match with native Qt theme under KDE Neon
- usage of the language files doesn't work
	- the language is always the default language
	- are the language files not found?
- problems with UTF8 characters
	- see interface settings, language list or when typed in a note
	- Japanese or Chinese character

[2016-08-21 14:42] LyzardKing commented on #193
Shotwell now builds. The resource problem remains. Should I upload it again with gtkconf or with desktop-gtk3 as "not working"?

[2016-08-21 15:15] LyzardKing commented on #213
This works for me. The only problem is that if I copy` '*': './'` it tries to write in `install/./`

[2016-08-22 07:54] LyzardKing commented on #190
This should just need to remove that file from the stage part.
I wonder if we should keep this or rely on the officially released binaries, with the jetbrains toolbox now available to keep the ides updated (available as an appimage).

[2016-08-28 20:06] fusion809 opened #225 "[request] Code::Blocks, Eclipse, MonoDevelop, NetBeans and VSCode"
Hi,

My understanding of Python and Snappy isn't sufficient for me to create my own packages, although I can usually edit existing packages to my liking, so I am here to ask if someone could create snappy packages in this repo for:

* Code::Blocks 16.01 &mdash; an IDE for C/C++ written in C++.
* Eclipse 4.6.0 &mdash; a general-purpose IDE written in Java. Ubuntu's latest version of Eclipse in its

[2016-08-29 08:26] #215 closed

[2016-08-29 08:27] #213 closed

[2016-08-29 08:27] dholbach commented on #213
Nice work!

[2016-08-29 08:35] #193 closed

[2016-08-31 03:44] elopio commented on #206
hum, I'll take a look tomorrow. Thanks Daniel.

[2016-08-31 17:46] sinzui opened #232 "python3 plugin cannot create hard link"
The python3 plugin fails on my xenial host during the parts phase.
    tar: ./usr/bin/python3.5: Cannot hard link to ‘./usr/bin/python3.5m’:

From snapcraft.yaml
parts:
    find-text:
        plugin: python3
        source: src

$ snapcraft clean
$ snapcraft snap
...
tar: ./usr/bin/python3.5: Cannot hard link to ‘./usr/bin/python3.5m’: Operation not permitted
tar: Exiting with failure status due t

[2016-08-31 17:51] sinzui opened #233 "python2 plugin cannot find pip2"
python2 plugin cannot find pip2 during the parts phase building on xenial.
/home/curtis/Work/find-text/parts/find-text/install/usr/bin/pip2 does not exist,
but these
/home/curtis/Work/find-text/parts/find-text/install/usr/bin/pip
/home/curtis/Work/find-text/parts/find-text/install/usr/bin/pip3
/home/curtis/Work/find-text/parts/find-text/install/usr/bin/pip3.5

Note that my host does have pip 8.1.2

[2016-08-31 18:12] sinzui commented on #233
Moving my ~/.pip dir out of the way does not fix the issue:

python2: can't open file '/home/curtis/Work/find-text/parts/find-text/install/usr/bin/pip2': [Errno 2] No such file or directory

$ ls /home/curtis/Work/find-text/parts/find-text/install/usr/bin/pip*
/home/curtis/Work/find-text/parts/find-text/install/usr/bin/pip
/home/curtis/Work/find-text/parts/find-text/install/usr/bin/pip3
/home/curt

[2016-08-31 18:25] sinzui commented on #232
This is repeatable with the dcos-cli plugin.

[2016-09-01 03:16] elopio commented on #206
I've reported the bug upstream: https://bugs.launchpad.net/snapcraft/+bug/1619104
Priority is critical. Thanks for the report.

[2016-09-01 13:50] dholbach commented on #206
Brilliant, thanks!

[2016-09-01 13:52] dholbach commented on #232
This looks more like a snapcraft issue. There was another dcos issue being discussed here: https://bugs.launchpad.net/snapcraft/+bug/1619104

[2016-09-02 12:37] popey commented on #210
I have tried fiddling this and it doesn't work anymore. I can change the plugin from copy to dump, but I fail to see how to exclude minetest.conf.example from being seen as dupes in both parts. I tried to exclude as per this page but it fails:-

http://askubuntu.com/questions/797031/how-do-you-exclude-files-from-wiki-part-used-in-snapcraft-yaml

[2016-09-02 18:07] popey commented on #210
https://bugs.launchpad.net/snapcraft/+bug/1616459 known bug, expected to be fixed in snapcraft 2.17

[2016-09-16 13:39] dholbach commented on #232
Does this work for you now?

[2016-09-16 13:39] dholbach commented on #233
Does this work for you now?

[2016-09-19 15:31] sinzui commented on #233
Yes this works thank you.

[2016-09-19 16:10] #233 closed

[2016-09-19 16:17] sinzui commented on #232
Sorry. It does not. I still see

Fetched 6,248 kB in 0s (0 B/s)
tar: ./usr/bin/python3.5: Cannot hard link to ‘./usr/bin/python3.5m’: Operation not permitted
tar: Exiting with failure status due to previous errors
dpkg-deb: error: subprocess tar returned error exit status 2

[2016-09-20 06:31] dholbach commented on #232
Can we maybe move this bug to https://launchpad.net/snapcraft/+filebugs? The Playpen is mostly just about collecting best-practice examples.

[2016-09-20 13:10] sinzui commented on #232
Done, https://bugs.launchpad.net/snapcraft/+bug/1625630

[2016-09-20 13:53] dholbach commented on #232
Thanks a lot Curtis!

[2016-09-20 13:53] #232 closed

[2016-09-21 13:01] dholbach commented on #109
Or `desktop-qt5` now.

[2016-10-06 11:40] LSenf opened #248 ""after: [*]" broken?"
It seems that the line
`    after: [desktop/*]
`
makes snapcraft abort with
`'NoneType' object is not subscriptable
`
I tested this with my own attempt to build a gtk3 snap as well as with openttd (qt5) and some others from this repository.
My snapcraft version is 2.19 on ubuntu 16.04.
Is that syntax deprecated or is snapcraft broken?

[2016-10-06 15:45] dholbach commented on #248
Can you try `[desktop-gtk3]` (with a `-`) for example?

[2016-10-06 18:22] LSenf commented on #248
I tried both - and / for qt and gtk, they all give the same output.

[2016-10-06 18:32] wandrewkeech commented on #248
just had a similar issue, try running `snapcraft update` and attempt again.

[2016-10-06 18:49] LSenf commented on #248
Thank you, that solves it!
Maybe snapcraft should check for this and automatically update if a part is not found?

[2016-10-07 06:21] dholbach commented on #248
Maybe you could file a bug at https://bugs.launchpad.net/snapcraft/+filebug about it? (Maybe this is what https://bugs.launchpad.net/snapcraft/+bug/1590934 is about?)

[2016-10-07 06:21] #248 closed

[2016-11-01 16:15] dholbach opened #261 "baka-mplayer fails to build"
[code]

[2016-11-01 16:17] dholbach opened #262 "`click-parser` fails to build"
[code]

[2016-11-01 16:19] dholbach commented on #207
It fails differently now:
[code]

[2016-11-01 16:22] dholbach commented on #206
It fails differently now:
[code]

[2016-11-01 16:30] dholbach opened #263 "dekko fails to build"
[code]

[2016-11-01 16:32] dholbach opened #264 "docker-compose fails to build"
[code]

[2016-11-01 16:37] elopio commented on #206
This is https://bugs.launchpad.net/snapcraft/+bug/1632528
Which according to Sergio, will just work once the dup bug is fixed.

[2016-11-01 16:43] dholbach commented on #206
Nice!

[2016-11-02 09:17] dholbach commented on #209
It fails like this now:
[code]

[2016-11-02 09:29] dholbach opened #265 "mpv should use new waf plugin"
Since `snapcraft` 2.20 there's a `waf` plugin. Let's try to use it.

[2016-11-02 10:01] dholbach commented on #190
[code]

[2016-11-02 10:20] dholbach opened #266 "kodi fails to build"
[code]

[2016-11-02 14:45] dholbach opened #267 "vlc fails to build"
[code]

[2016-11-23 21:50] EastAPOLO commented on #267
Try a newer distro that has a version of libavcodec>= 57.37.100 or try compiling it yourself. I had the same exact issue and it was on Ubuntu 16.04.

[2016-11-24 14:13] rednoah opened #269 "desktop-gtk2"
The `desktop-gtk2` part and all the other desktop parts have disappeared, breaking all the packages that depend on them.

[code]

Have the desktop parts been replaced by something else? Or is this a bug?

[2016-11-24 14:55] rednoah commented on #269
Thanks! I'll try again in a bit.

[2016-11-24 15:09] didrocks commented on #269
confirmed that the revert worked. They are listed now!
We'll file a bug against the snapcraft importer parser.

Closing it, thanks for reporting this! :)

[2016-11-24 15:09] #269 closed

[2016-12-06 13:15] pawal commented on #264
It's also an, by now, older version. Latest version seems to be 1.9.0.

[2016-12-06 13:16] pawal commented on #267
It worked on my Ubuntu 16.10.

[2016-12-30 05:10] keshavbhatt opened #270 "Some able to create snap of nwjs, qtwebengine or chromium based browser apps ??"
Crafting apps which uses webtechnologies based on chromium wont run in snap format even browser-support plug is enabled in craft file .

[2017-04-10 10:38] mabkenar opened #271 "ImageMagick snap unable to read font information"
Using the current snapcraft.yaml for ImageMagick [here](https://github.com/ubuntu/snappy-playpen/tree/master/imagemagick-stable), I can build an ImageMagick snap.

[code]
But it does not work all the time. Specifically, operations that require font information don't work.

## What works

The two non-font-related operations that I tested work fine and  produce correct results (the same results as `

[2017-04-10 10:40] mabkenar commented on #271
Mentioning @wandrewkeech @tsimonq2 and @didrocks as they have contributed to the ImageMagick snapcraft.yaml.

[2017-04-10 12:44] dshcherb opened #272 "consul-snap wrapper - unable to override data-dir and config-dir flags"
https://github.com/ubuntu/snappy-playpen/blob/master/consul/consul-snap#L30

I believe that the wrapper used in the consul snap has a bug:
exec consul $commandoption $subcommand -data-dir $SNAP_USER_DATA/data -config-dir $SNAP_USER_DATA/config.d "$@"

https://github.com/golang/go/blob/master/src/flag/flag.go#L952
https://github.com/golang/go/blob/master/src/flag/flag.go#L939
https://github.com/gol

[2017-04-10 12:51] dshcherb commented on #272
Also, specifying -data-dir or -config-dir by default when running commands such as `consul keygen` will lead to a non-zero exit code and a failure to execute a command.

[2017-08-01 19:03] extraymond opened #274 "Update Gogs snap"
It seems that the old version is unable to produce proper snap, It would be nice to upgrade it to newer version.

Thx.

[2017-08-16 23:20] michael-nischt opened #275 "Atom 1.19 is out since days but snap isn't updated yet"
The whole reasoning behind using the snap is that one cam automatically use the latest version. Would be great if the snap gets updated to 1.19 soon.

[2017-08-16 23:21] michael-nischt commented on #275
wrong repo sorry

[2017-08-16 23:21] #275 closed